/*
.centralizado {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.externo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.interno {
    position: absolute;
    top: 45%;
    left: 40%;
    width: 50%;
    text-align: center;
    -webkit-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
}
*/

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contente{
    flex: 1;
}

.box-botoes{
    margin-top: 5%;
  }

.botao{
    background-color: #4F4F4F !important;
    color: white !important;
}

.btn-menu{
    min-width:150px;
    margin-bottom: 24px;
}

.fundo{
    background-color: #363636 !important;
}

.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    }
    
.box-login {
    width: 300px;
    height: 300px;
    }

.label-header{
    color: white
    }

.itensFormCarimbo {
    display: inline-block;
    width: 150px;
    padding-left: 70px;
}

.radioGroup {
    display: inline-block;
    width: 150px;
    padding-left: 70px;
}